In [2]:
import pandas as pd
data = pd.read_csv('FI0008900212-2018-01-01-2018-05-10.csv', sep=';', header=1, parse_dates=['Date'], index_col='Date')
data.head()

,High price,Low price,Closing price,Average price,Total volume,Turnover,Trades
Date,,,,,,,
2018-05-09,"4232,510","4201,230","4220,860",NaN,1,NaN,0
2018-05-08,"4229,150","4184,830","4229,150",NaN,1,NaN,0
2018-05-07,"4193,270","4149,390","4191,730",NaN,1,NaN,0
2018-05-04,"4152,170","4107,240","4150,060",NaN,1,NaN,0
2018-05-03,"4172,790","4105,290","4106,930",NaN,1,NaN,0