In [13]:
import pandas as pd
data = pd.read_csv('FI0008900212-2018-04-06-2018-05-04.csv', sep=';', header=1)
data.head()

,Date,High price,Low price,Closing price,Average price,Total volume,Turnover,Trades
0,2018-05-04,"4152,170","4107,240","4150,060",NaN,1,NaN,0
1,2018-05-03,"4172,790","4105,290","4106,930",NaN,1,NaN,0
2,2018-05-02,"4197,940","4154,880","4159,440",NaN,1,NaN,0
3,2018-04-30,"4165,280","4158,360","4163,330",NaN,1,NaN,0
4,2018-04-27,"4169,480","4117,290","4162,170",NaN,1,NaN,0